%header
  .header-menu
    %nav.uk-navbar
      .uk-container.uk-container-center
        = link_to root_url do
          = image_tag('kasztelan_logo_small.png')
        -#%div
        -#  %p.logo-text-topline Oficjalny serwis
        -#  %h1.logo-text-bottomline LUMKS KASZTELAN ROZPRZA
        -#%a.uk-navbar-brand.logo.uk-hidden-small{:href => "/"}
        -#%ul.uk-navbar-nav.ee-menu.uk-hidden-small.uk-float-right
        -#  %li test
        -#  %li.joinus
        -#    test2