%ul
  %li
    = link_to  areas_path do
      %span.icon-map Pola
  %li
    = link_to  events_path do
      %span.icon-shovel-to-dig Zdarzenia
  %li
    = link_to  crops_path do
      %span.icon-ear-of-wheat Uprawy