@import 'uikit/uikit-mixins';
@import "uikit/uikit-variables";
@import "uikit/uikit";
@import "uikit/components/tooltip";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *=# require_tree .
 *=# require_self
 */

@import "railsapp";
html,body {
  margin:0;
  padding:0;
  height:100%;
}
.whole-page{
  min-height: 100%;
  position: relative;
  .page-sidebar{
    min-height: 100%;
    width: 220px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .page-wrapper{
    max-width: 100%;
    margin-left: 220px;
  }
}

a:hover{
  color: #E79F39;
}
.fm-sidebar{
  min-height: 100%;
  box-sizing: border-box;
  background: #2F2F2F;
  padding-bottom: 50px;
  ul{
    list-style-type: none;
    padding: 0;
    li{
      border-bottom: 1px solid #313131;
    }
    a{
      padding: 10px 0 10px 15px;
      background: linear-gradient(#424242, #3a3a3a);
      position: relative;
      display: block;
      font-size: 13px;
      color: white;
      border-left: 4px solid transparent;
      &.active{
        border-left: 4px solid #E79F39;
        background: #2F2F2F;
        box-shadow: inset 0px 0px 5px -1px black;
      }
      &:hover{
        color: #E79F39;
      }
    }
    .fm-sidebar-icon{
      font-size: 26px;
    }
    span{
      vertical-align: middle;
      padding-right: 5px;
    }
    span.icon-down_arrow {
      position: absolute;
      right: 9px;
      padding: 0;
      font-size: 6px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  .user_box{
    padding: 25px 20px 0px;
    p{
      color: white;
      margin: 0;
      padding: 10px 0;
    }
    img{
      max-width: 50px;
    }
  }
}
.main{
  background: #F3F3F3;
  height: 100%;
}
header{
  .menu-btn{
    padding: 5px;
    display: inline-block;
    width: 30px;
    font-size: 14px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background: #2F2F2F;
    &:hover{
      color: white;
      background: #414141;
    }
  }
  border-bottom: 1px solid #e7eaec;
  padding: 10px 20px;
}
.breadcrumb{
  background: white;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #e7eaec;
  h2{
    font-size: 28px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
  }
  a{
    font-weight: normal;
  }
}
.table-content{
  margin: 20px;
  background: white;
  border: 1px solid #e7eaec;
  border-top: 2px solid #e7eaec;
  .table-inside{
    padding: 15px 15px 35px 15px;
    h4{
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }
    .actions{
      width: 100px;
      a{
        display: inline-block;
        vertical-align:  middle;
        span{
          font-size: 20px;
          color: white;
          display: block;
          width: 20px;
          text-align: center;
          padding: 5px;
          border-radius: 3px;
        }
        .special{
          background: #1ab394;
          &:hover{
            background: #18a689;
          }
        }
        .edit{
          background: #1D8ACB;
          &:hover{
            background: darken(#1D8ACB, 10%);
          }
        }
        .destroy{
          background: #de6f78;
          &:hover{
            background: darken(#de6f78, 10%);
          }
        }
      }
    }
  }
}
.notice-notify{
  background: #1ab394;
  color:white;
}
.app-notify{
  margin: 20px;
}