/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require selectize
 *= require selectize.default
 */


@import 'uikit/uikit-mixins';
@import "uikit/uikit-variables";
@import "uikit/uikit";
@import "uikit/components/tooltip";
@import "uikit/components/datepicker";
@import "uikit/components/form-select";
@import "dataTables.uikit.min";

@import "railsapp";
html,body {
  margin:0;
  padding:0;
  height:100%;
}
.whole-page{
  min-height: 100%;
  position: relative;
  transition: all 0.3s ease;
  .page-sidebar{
    min-height: 100%;
    width: 220px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.3s ease;
  }
  .page-wrapper{
    max-width: 100%;
    margin-left: 220px;
    transition: all 0.3s ease;
  }
  &.close{
    .page-sidebar{
      width: 75px;
      .user_box{
        padding: 10px 10px 0px;
        img{
          width: 100%;
        }
      }
      .mobile-hide{
        display: none;
      }
    }
    .page-wrapper{
      margin-left: 75px;
    }
  }
  @media(max-width: $breakpoint-medium){
    .page-sidebar{
      width: 75px;
      .user_box{
        padding: 10px 10px 0px;
        img{
          width: 100%;
        }
      }
      .mobile-hide{
        display: none;
      }
    }
    .page-wrapper{
      margin-left: 75px;
    }
    &.close{
      .page-sidebar{
        margin-left: -75px;
      }
      .page-wrapper{
        margin-left: 0px;
      }
    }
  }
}
.button-delete{
  color: white;
  background: #de6f78;
  &:hover{
    color: white;
    background: darken(#de6f78, 10%);
  }
}
a:hover{
  color: #E79F39;
}
.fm-sidebar{
  min-height: 100%;
  box-sizing: border-box;
  background: #2F2F2F;
  padding-bottom: 50px;
  ul{
    list-style-type: none;
    padding: 0;
    li{
      border-bottom: 1px solid #313131;
    }
    a{
      padding: 10px 0 10px 15px;
      background: linear-gradient(#424242, #3a3a3a);
      position: relative;
      display: block;
      font-size: 13px;
      color: white;
      border-left: 4px solid transparent;
      &.active{
        border-left: 4px solid #E79F39;
        background: #2F2F2F;
        box-shadow: inset 0px 0px 5px -1px black;
      }
      &:hover{
        color: #E79F39;
      }
    }
    .fm-sidebar-icon{
      font-size: 26px;
    }
    span{
      vertical-align: middle;
      padding-right: 5px;
    }
    span.icon-down_arrow {
      position: absolute;
      right: 9px;
      padding: 0;
      font-size: 6px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  .user_box{
    padding: 25px 20px 0px;
    p{
      color: white;
      margin: 0;
      padding: 10px 0;
    }
    img{
      max-width: 50px;
    }
  }
}
.main{
  background: #F3F3F3;
  height: 100%;
}
header{
  .menu-btn{
    padding: 5px;
    display: inline-block;
    width: 30px;
    font-size: 14px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background: #2F2F2F;
    &:hover{
      color: white;
      background: #414141;
    }
  }
  border-bottom: 1px solid #e7eaec;
  padding: 10px 20px;
}
.breadcrumb{
  background: white;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #e7eaec;
  h2{
    font-size: 28px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
  }
  a{
    font-weight: normal;
  }
}
.table-content{
  margin: 20px;
  background: white;
  border: 1px solid #e7eaec;
  border-top: 2px solid #e7eaec;
  .table-inside{
    padding: 15px 15px 35px 15px;
    h4{
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }
    .farm-dropdown{
      display: inline-block;
      vertical-align: middle;
    }
    .dropdown-info{
      padding-left: 10px;
      vertical-align: middle;
      font-size: 18px;
    }
    .checkbox-column{
      label{
        display: block;
        content: "";
        background: white;
        height: 20px;
        border: 1px solid #ddd;
        width: 20px;
        position: relative;
        border-radius: 3px;
      }
      input{
        display: none;
      }
      input[type=checkbox]:checked + label:after {
        color: $default-color-blue;
        font-family: 'icomoon' !important;
        content: "\e90f";
        font-size: 24px;
        position: absolute;
        border-radius: 3px;
        left: -2px;
        top: 0px;
      }
    }
  }
}
.notice-notify{
  background: #1ab394;
  color:white;
}
.app-notify{
  margin: 20px;
}
.margin-container{
  margin: 20px;
}
.form-container{
  background: white;
  padding: 20px;
  border: 1px solid #e7eaec;

  label{
    display: block;
  }
  .nested-form-remove-btn{
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 40px;
    &:hover{
      span:before{
        color: darken(#de6f78, 10%);
      }
    }
  }
  .nested-title{
    margin: 20px 0 15px;
    .nested-elem{
      display: inline-block;
      vertical-align: middle;
      font-size: 28px;
      span{
        font-size: 35px;
        color: green;
        &:hover{
          color: lighten(green, 10%);
        }
      }
    }
  }
  div.input{
    margin-top: 20px;
    input,select,textarea{
      font: normal 14px / 20px "Poppins", sans-serif;
      border: 1px solid #d0d0d0;
      padding: 8px 8px;
      line-height: 18px;
      font-size: 13px;
      display: inline-block;
      width: 100%;
      height: 40px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }
    textarea{
      resize: vertical;
      height: auto;
    }
  }
  .selectize-input{
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
  }
  .form-field-info{
    margin: 0;
    font-size: 12px;
    font-style: italic;
  }

}
.uk-datepicker{
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}
.error{
  color: red;
}
.farm-tab{
  margin: 20px 20px -21px 20px;
}
.throw-info{
  .throw-info-title{
    margin: 0;
    padding: 10px 0px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    span{
      width: 150px;
      display: block;
      text-align: right;
    }
  }
  .throw-info-item{
    min-width: 175px;
    box-sizing: border-box;
    padding-right: 25px;
    text-align: right;
  }
}
.link-blue{
  color: $button-link-color;
  &:hover{
    color: $button-link-hover-color;
  }
}
.actions{
  a{
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    vertical-align:  middle;
    span{
      font-size: 20px;
      color: white;
      display: block;
      width: 20px;
      text-align: center;
      padding: 5px;
      border-radius: 3px;
    }
    .special{
      background: #1ab394;
      &:hover{
        background: #18a689;
      }
    }
    .edit{
      background: #1D8ACB;
      &:hover{
        background: darken(#1D8ACB, 10%);
      }
    }
    .destroy{
      background: #de6f78;
      &:hover{
        background: darken(#de6f78, 10%);
      }
    }
  }
}