.margin-container
  .form-container.uk-width-1-1.uk-width-large-1-2
    %h1.pzu-action-title
      Edycja rzutu
      = @throw.number
    .pzu-action-form
      = render 'form'
  .uk-width-1-1.uk-width-large-1-2
    %div
      Sprzedanych:
      =@throw.sell_qty.to_i
    %div
      Upadków:
      =@throw.drop_qty.to_i
    %div
      Sprzedanych:
      =@throw.sell_qty.to_i